* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calc {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.display-value {
    width: 80%;
    background-color: white;
    height: 50px;
    text-align: left;
    font-size: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    flex-wrap: wrap;
    height: 360px;
    margin: 5px;
}

.buttons button {
    width: 25%;
    height: 19%;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

#zero {
    flex: 2 1 0;
}

.operand, .decimal {
    background-color: darkgray;
    color: white;
}

.operator {
    background-color: antiquewhite;
}

.clear {
    background-color: rgb(235, 84, 84);
    color: white;
}

.sign, .percent{
    background-color: rgb(243, 243, 117);
}

.equals {
    background-color: rgb(70, 175, 227);
}